<div id="signup">
  <form action="https://formspree.io/me@michaelrice.com" method="post" id="form">
      <input type="text" name="name" placeholder="My name is..."><br>
      <input type="text" name="title" placeholder="My current title is..."><br>
      <input type="text" name="company" placeholder="I work for..."><br>
      <input type="text" name="city" placeholder="I work in a city named..."><br>
      <input type="email" name="email" placeholder="My email address for the list is..."><br>
      <input type="text" name="_gotcha" style="display:none" />
      <input type="submit" value="Join!">
  </form>
</div>
